@font-face {
  font-family: "logo";
  src: url(LeagueSpartan-Bold.otf);
}

body {
  margin: 0px;
}
.div,
p,
input,
textarea {
  box-sizing: border-box;
}

.nav-link,
.navbar {
  font-family: "Dongle", sans-serif;
  font-size: 1.5rem;
}
#purple {
  color: #7952b3;
  font-weight: bold;
  font-size: 2rem;
}
.nav li,
.nav li a {
  color: black;
}

.upload {
  margin: 30px auto;
  border: 1px solid #eee;
  height: 300px;
}
#submit-btn {
  width: 93px;
  border: 1px solid #eee;
  background-color: #7952b3;
  color: white;
}
#submit-btn2 {
  width: 70px;
  margin-left: -10px;
  margin-right: -10px;
  margin-bottom: 3px;
  color: #7952b3;
  font-size: 2rem;
}
.container {
  font-family: "Dongle", sans-serif;
  font-size: 3rem;
}
#width-container {
  width: 90%;
}
.text {
  font-size: 1.5rem;
  text-align: center;
  margin-top: -10px;
  font-family: "Dongle", sans-serif;
}
span {
  color: #7952b3;
}

legend {
  font-size: 40px;
  font-family: "Dongle", sans-serif;
}

.title-copy {
  height: 60px;
  border-radius: 5px;
  background-color: #e9ecef;
  border: 1px solid #eee;
}
#sumbit-btn {
  margin-top: -30px;
  margin-bottom: 20px;
  padding: auto;
}
.copy {
  margin: auto;
  display: block;
}
.title-copy {
  cursor: context-menu;
}

#input_text {
  color: #626262;
  height: 80px;
  margin: auto;
  font-size: 18px;
}

.submit-btn {
  margin-top: -10px;
}
.image-box {
  display: block;
  border: 1px solid #eee;
  border-radius: 5px;
  margin: auto;
  width: 300px;
  margin-bottom: 20px;
}

#inputGroupFile01 {
  font-size: 1.5rem;
}
#submit-btn {
  font-size: 1.5rem;
}

.nav-login {
  color: red;
  display: none;
}
.nav-logout {
  color: red;
  display: none;
}
